<div class="container">
  <h1>About the Dog Breeds App</h1>
  <p>This application allows users to explore different dog breeds and see user comments about each breed.</p>
  <p>Features:</p>
  <ul>
    <li>Search for dog breeds</li>
    <li>View breed details and sub-breeds</li>
    <li>See user comments on each breed</li>
    <li>Comment on dog breeds as a registered user</li>
  </ul>
  <p>Developed using Ruby on Rails with Bootstrap for styling and responsiveness.</p>
</div>
